streamlit
numpy>=1.21.0
scikit-learn>=1.0
torch
torchvision
tensorflow
tensorflow_hub
opencv-python-headless
pandas
matplotlib
joblib
ffmpeg-python
tqdm
seaborn
lightgbm
imbalanced-learn
plotly
gdown
